.topping {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #ccc;
  margin: 0 2rem;
  font-size: 1.4rem;
}

.titlePriceDescription {
  display: flex; 
  align-items: center;
  justify-content: center;
}

.price {
  font-weight: bold;
  color: rgb(110, 110, 110);
  margin: 0 2rem;
  font-size: 1.4rem;
}

.description {
  font-size: 1.3rem;
}