.form {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #535252;
  border: 1px solid #535252;
  color: white;
  padding: 0.25rem 2rem;
  height: 60%;
  border-radius: 20px;
  margin-left: 2rem;
}

.form button:hover,
.form button:active {
  background-color: #3e3e3e;
  border-color: #3e3e3e;
}

.form div {
  display: flex;
  align-items: center;
  justify-content: center;
}