.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  width: 20rem;
  height: 20rem;
}

.container:hover .description{
  display: block;
}

.container:hover .form{
  display: block;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
}



.name {
  font-weight: 500;
  width: 9rem;
  margin-right: 0.5rem;
  font-size: 1.3rem;
  position: relative;
  z-index: 1;
}

.price {
  color: rgb(110, 110, 110);
  font-size: 1.3rem;
  width: 5rem;
  margin-right: 2rem;
  text-align: right;
  position: relative;
  z-index: 1;
}

.description {
  display: none;
  font-size: 1.3rem;
  /* width: 23rem; */
  margin-right: 0.5rem;
  position: relative;
  z-index: 1;
}

.form {
  display: none;
  position: relative;
  z-index: 1;
}