.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5rem;
  background-color: #D9D9D9;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.header h1 {
  font-size: 2.5rem;
}