.toppings {
  top: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* max-width: 70rem; */
  width: 90%;
  margin: 2rem auto;
  margin-top: 0;
  animation: toppings-appear 1s ease-out forwards;
}

.toppings ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes toppings-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}