.category {
  list-style: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.category:not(:last-child) {
  padding-right: 6rem;
  border-right: 1px solid #ccc;
}

.category:hover {
  color: rgb(0, 103, 33);
}