.toppings {
  margin-top: 10rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.ulContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.liContainer {
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.4rem;
  max-width: 66rem;
  width: 90%;
  margin-bottom: 0;
  padding-bottom: 1.5rem;
}
